{% load static tailwind_tags %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Home Page
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {% tailwind_css %}
</head>
<body>
    <nav>
        <span class="logo">Engr. Muhammad Abdullah</span>
        
        <div class="links">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'education' %}">Education</a>
            <a href="{% url 'skill' %}">Skill</a>
            <a href="{% url 'experience' %}">Experience</a>
            <a href="{% url 'projects' %}">Projects</a>
            <a href="{% url 'contact' %}">Contact</a>
        </div>
    </nav>

    {% block content %}

    {% endblock content %}

    <footer>
        {% comment %} <h1>This is for the footer</h1> {% endcomment %}
        <div class="socials">
            <a href="https://www.linkedin.com/authwall?trk=gf&trkInfo=AQHalhltVA3YGQAAAZ2zy8Rot6nvRNMELAiLeQcIY8VolA5357D5-BCWfk4pVMt8Z4oJfY44Kngce2ypb19d4P5nbSpelJiIp2OQoK5tbuIpJLpHRoRQwDSGPiR9kdkSI_qLj3M=&original_referer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fmuhammad-abdullah-850b332a5" target="_blank">
                <i class="fab fa-linkedin"></i> LinkedIn
            </a>
            
            <a href="https://github.com/abdullahee297" target="_blank">
                <i class="fab fa-github"></i> GitHub
            </a>
            
            <a href="https://instagram.com/abdullahsketchit" target="_blank">
                <i class="fab fa-instagram"></i> Instagram
            </a>
            <a href="#">
                <i class="fas fa-globe"></i> Portfolio
            </a>
                
</div>
    </footer>
    
</body>

<script>
const sections = document.querySelectorAll("section");
const navLinks = document.querySelectorAll(".nav-link");

window.addEventListener("scroll", () => {

    let current = "";

    sections.forEach(section => {
        const sectionTop = section.offsetTop;
        const sectionHeight = section.clientHeight;

        if (scrollY >= sectionTop - sectionHeight / 3) {
            current = section.getAttribute("id");
        }
    });

    navLinks.forEach(link => {
        link.classList.remove("text-purple-400");

        if (link.getAttribute("href") === "#" + current) {
            link.classList.add("text-purple-400");
        }
    });

});
</script>

</html>